html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* header */
.header {
  height: 80px;
  text-transform: uppercase;
  border-bottom: 5px solid #7d97ad;
  display: flex;
}

.header-logo {
  height: 40px;
  width: 40px;
  padding: 20px;
  order: 0;
}

.header-text {
  padding-right: 20px;
  order: 1;
  flex: 1 1 auto;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  font-size: 30px;
  padding: 15px 0 0 0;
  flex: 1 1 auto;
}

.header-text p {
  font-size: 16px;
  padding: 0 0 10px 0;
}

/* Banner Image*/
.banner-pic {
  width: 100%;
  margin: 10px 0 0 0;
}

/* Main Content */
.projects-showcase {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.projects-showcase h2 {
  padding: 20px 0 10px 20px;
  color: #7d97ad;
}

.projects-list {
  padding: 0;
  margin: 0;  
  list-style-type: none;  
  display: flex;
}

.footer {
  color: #ccc;
  align-self: center;
}

/* Mobile */
@media screen and (max-width: 500px) {
  .projects-list {
    flex-direction: column;
  }

  .project-item {
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .project-pic {
    order: 0;
    width: 80px;
    height: 80px;
    padding: 10px;
  }

  .project-text {
    order: 1;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .project-text h3 {
    font-size: 30px;
    padding: 15px 10px 0 0;
    font-weight: 100;
    flex: 1 1 auto;
  }

  .project-text p {
    font-size: 16px;
    padding: 0 10px 30px 0;
    color: #7d97ad;
    word-break: break-all;
  }

}

/* iPad & Desktop */
@media screen and (min-width: 501px) {
  .header {
    height: 120px;
  }

  .headerLogo {
    height: 80px;
    width: 80px;
    padding: 20px;
  }

  .header-text {
    padding-right: 40px;
  }

  .header-text h3 {
    font-size: 50px;
  }

  .header-text p {
    font-size: 25px;
  } 

  .projects-showcase h2 {
    font-size: 40px;
  }

  .projects-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-item {
    width: 40%;
    max-width: 360px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-pic {
    order: 0;
    min-width: 180px;
    width: 100%;
    padding: 10px 0 0 0;
  }

  .project-text {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .project-text h3 {
    font-size: 40px;
    padding: 5px 10px 5px 10px;
    font-weight: 100;
    align-self: center;
  }

  .project-text p {
    font-size: 16px;
    padding: 0 10px 30px 0;
    color: #7d97ad;
    word-break: break-all;
  }
}